<a href="https://colab.research.google.com/github/GodfreyAchu/Project-in-pandas/blob/main/Case%20study%20on%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Case study on data base managment with the help of pandas and doing different operation with numpy.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
print("Mark of Ashwanth")
marks=[90,82,73,94,100]
sub_name=['Maths','Science','Computer','Social','English']
ind=pd.Series(marks,index=sub_name)
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name),
        "Marks":pd.Series(marks),
        "Grade":pd.Series(['A','B','C','A','A']),
        "Qualification":'Pass',
        "Rank":np.array([1]*5),
    }
)
print(dt)

Mark of Ashwanth
  Subjects\n  Marks Grade Qualification  Rank
0      Maths     90     A          Pass     1
1    Science     82     B          Pass     1
2   Computer     73     C          Pass     1
3     Social     94     A          Pass     1
4    English    100     A          Pass     1

Few operation one the data frame.

In [ ]:

marks=[90,82,73,94,100]
sub_name=['Maths','Science','Computer','Social','English']
ind=pd.Series(marks,index=sub_name)
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name),
        "Marks":pd.Series(marks),
        "Grade":pd.Series(['A','B','C','A','A']),
        "Qualification":'Pass',
        "Rank":np.array([1]*5),
    }
)
print(marks)
mrk=np.mean(marks)
mrk1=np.median(marks)

print("Mean marks is:",mrk)
print("Median mark is:",mrk1)
x=np.percentile(marks, 80, axis=None,interpolation='midpoint')
print("Percentile function:",x)
y=np.var(marks, axis=None, dtype=None, ddof=0)
print("Variance function:",y)
z=np.std(marks, axis=None, dtype=None, ddof=0)
print("Standard deviation:",z)

[90, 82, 73, 94, 100]
Mean marks is: 87.8
Median mark is: 90.0
Percentile function: 97.0
Variance function: 88.96
Standard deviation: 9.431860898041277

In [ ]:
print("Mark of Ashwanth")
marks=[90,82,73,94,100]
sub_name=['Maths','Science','Computer','Social','English']
ind=pd.Series(marks,index=sub_name)
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name),
        "Marks":pd.Series(marks),
        "Grade":pd.Series(['A','B','C','A','A']),
        "Qualification":'Pass',
        "Rank":np.array([1]*5),
    }
)
dt1=pd.DataFrame(
    {
        "Remarks":pd.Categorical(["Great Job"]),
    }
)
dtfl=pd.concat([dt,dt1])
print(dtfl)

Mark of Ashwanth
   Subjects  Marks Grade Qualification  Rank    Remarks
0     Maths   90.0     A          Pass   1.0        NaN
1   Science   82.0     B          Pass   1.0        NaN
2  Computer   73.0     C          Pass   1.0        NaN
3    Social   94.0     A          Pass   1.0        NaN
4   English  100.0     A          Pass   1.0        NaN
0       NaN    NaN   NaN           NaN   NaN  Great Job